<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98978d">  <td>18/12/28 18:41:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoggersDemo.setUp()[pri:0, instance:com.scripts.LoggersDemo@55d56113]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>18/12/28 18:41:21</td>   <td>4509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoggersDemo.loggers()[pri:0, instance:com.scripts.LoggersDemo@55d56113]">loggers</td> 
  <td>main@1852584274</td>   <td></td> </tr>
</table>
