<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LoginPage</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92be91">  <td>18/12/13 18:04:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DataDriven.TestSetup()[pri:0, instance:com.scripts.DataDriven@53f65459]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1032986144</td>   <td></td> </tr>
<tr bgcolor="92be91">  <td>18/12/13 18:04:18</td>   <td>9245</td> <td>&nbsp;</td><td title="&lt;&lt;DataDriven.exit()[pri:0, instance:com.scripts.DataDriven@53f65459]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1032986144</td>   <td></td> </tr>
<tr bgcolor="92be91">  <td>18/12/13 18:04:15</td>   <td>6137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDriven.readData()[pri:0, instance:com.scripts.DataDriven@53f65459]">readData</td> 
  <td>main@1032986144</td>   <td></td> </tr>
</table>
